.category-container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 50px;
    
   
    
}

.category-title {
    margin: 20px;
    font-size: 30px;
    margin-bottom: 25px;
    text-align: center;
    font-weight: bold;
}