.category-preview-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    gap: 20px;
    text-align: center;
    font-weight: bold;  
  
    .title {
      font-size: 30px;
      cursor: pointer;
      padding: 10px 15px;
      border: 2px;
      border-radius: 5px;
      color: white;
      background-color: rgb(33,37,41);

      &:hover {
        background-color:white;
        color: rgb(33,37,41);
        border: 1px solid rgb(33,37,41);
        }
    }
  
    .preview {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 20px;
      
      @media screen and (max-width: 800px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
       } 
    }}