.comic-header {
    margin-top: 10px;
    margin-left: 12%;
}

.header-items {
    margin-top: 10px;
    width: 70%;
    margin-left: 14%;
    color: white;
    background-color: rgb(33,37,41);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    
    ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    h2{
        font-size: 20px;
        font-weight: bold;
    }
}}
