.search-container{
    input[type=text] {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none; 
}}

.searchback{
    background-color: lightblue;
}

.searchentry{
    padding: 10px 20px;
    border: solid black 1px;
    border-top: none;
}
a, a:link, a:hover, a:visited, a:active {
    color: black;
}